.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: gray;
    min-height: 100vh;
}

.welcome{
    margin-top: 50px;
    /* position: fixed;
    top:60px; */
    width: 40%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 20px;
    font-size: 16px;
    border-radius: 16px;
    margin-bottom: 20px;
}
.loading{
    color: white;
    font-size: 16px;
    /* position: fixed;
    top: 400px; */
}

.foodList{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 20px;
    background-color: white;
    border-radius: 16px;
    /* position: fixed; */
    /* top:450px; */
    animation: appearAni 1s;
}

@keyframes appearAni {
    0% {margin-top: 100px;}
    100% {margin-top: 0px;}
}